{% extends 'base.html' %}
{% block title %}Set  Your New Password{% endblock %}
{% block content %}
{% load i18n %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <div class="info-form">
        <h1 class="display-4 text-center sign-welcm">{% trans 'Hello!'  %}</h1>
        <form method="POST">
          {% csrf_token %}

          <label for="New_p">New Password</label>
          <div class="form-group">
            {{form.new_password1}}
          </div>

          <label for="conf_p">Confirm New Password</label>
          <div class="form-group">
            {{form.new_password2}}
          </div>

          <button class="btn  btn-primary btn-block btn-reset" type="submit">{% trans 'Set New Password' %}</button>  
        </form>
      </div>

    </div>
  </div>
</div>

<script>
    new_p = document.getElementById('id_new_password1');
    conf_p = document.getElementById('id_new_password2');
  
    new_p.classList.add('form-control')
  
    conf_p.classList.add('form-control')
  
  
  </script>
{% endblock%}
