{% extends 'base.html' %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
{% load i18n %}

<style>
  .btn-primary{
    margin-top: 5%;
    background: #20165d ;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <div class="info-form">
        <h1 class="display-4 text-center sign-welcm">{% trans 'Hello!'  %}</h1>
        <p class="text-center sign-continue">{% trans 'Type your email to reset you password' %}</p>
        <form method="POST">
          {% csrf_token %}
          <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
          <button class="btn  btn-primary btn-block btn-reset" type="submit">{% trans 'Send reset email' %}</button>  
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}