{% extends 'base.html' %}
{% load i18n %}
{% block title %}Password changed !{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <div class="info-form">
          <h1 class="display-4 text-center sign-welcm">{% trans 'Password changed!' %}</h1>
          <div class="alert alert-success" role="alert">
            {% trans 'You have successfully changed your password!. You may now proceed to log in.' %}
          </div>
            <a href="{% url 'login' %}"><button class="btn  btn-primary btn-block btn-reset">{% trans 'Return to Log in' %}</button>  </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}