{% extends 'base.html' %}
{% load i18n %}

{% block title %}Reset Your Password Done{% endblock %}

{% block content %}
 
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <div class="info-form">
          <h1 class="display-4 text-center sign-welcm">{% trans 'Reset Password Done!' %}</h1>
          <p class="text-center sign-continue">{% trans "Check your email for a link to reset your password. 
            If it doesn't appear within a few minutes, check your spam folder." %}</p>
            <a href="{% url 'login' %}"><button class="btn  btn-primary btn-block btn-reset">{% trans 'Return to Log in' %}</button>  </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}