{% load i18n %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

.h3,
.p,
.a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.h3 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
  color: antiquewhite;
}

.p {
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 5px;
}

.banner {
  width: 100%;
  padding:40px 0;
  text-align: center;
  background: #9b66be;
  color: rgb(218, 213, 213);
  
}

.btn-bgstroke{
  font-size: 15px;
  display: inline-block;
  border: 1px solid rgb(161, 165, 165);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 20px; 
  color: antiquewhite;
}

.btn-bgstroke:hover{
  background-color: white;
  color:#5f261e;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <section class="banner">
            <h3 class="h3">Kigali-Mall</h3>
            <p class="p">{% trans 'You can make Advertisement Here!!' %}</p>
            <a class="btn-bgstroke a">{% trans 'Contact us' %}</a>
        </section>
        </div>
        <div class="col-lg-6">
          <section class="banner">
            <h3 class="h3">Kigali-Mall</h3>
            <p class="p">{% trans 'You can make Advertisement Here!!' %}</p>
            <a href="{% url 'contact_us' %}" class="btn-bgstroke a">{% trans 'Contact us' %}</a>
        </section>
        </div>
    </div>
  </div>