{% load i18n %}
{% load static %}


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="{% url 'homepage' %}"><img class="logo-kmall" src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <p>Kigali Mall is an innovative E-commerce that help an 
                        individual or a company sell their products online in a safer way.
                    </p>
                    <div class="footer__payment">
                        <a href="#"><img src="{% static 'img/payment/payment-1.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/payment/payment-2.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/payment/payment-4.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/payment/payment-5.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact</a></li>
                        <li><a href="{% url 'terms_conditions' %}">Terms and conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}">My Account</a></li>
                        <li><a href="{% url 'checkout' %}">Checkout</a></li>
                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                        {% else %}
                        <li><a href="{% url 'checkout' %}">Checkout</a></li>
                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/kigali.mall"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/KigaliMall"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/kigali_mall/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Kigali Mall All rights reserved </p>
                    <p>Developed by : <a href="http://yves-byiringiro.site/"  target="_blank">Yves BYIRINGIRO</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

