{% load static %}
<style>
.min-costs{
  margin: 30px 0px;
}
</style>

<div class="instagram">
    <div class="container-fluid">
      <div class="row min-costs">

        {% for product in kids %}
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
              <div class="instagram__item set-bg" data-setbg="{{product.main_image.url}}">
                  <div class="instagram__text">
                      
                      <h5>{{product.name}}</h5>
                      <p>{{product.price}} Frw</p>
                      <p></p>
                      <a href="{% url 'product_details' product.slug %}" class="view-mincosts">View Details</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>