/******* homepage ******/

.kids-fashions{
    padding: 0px 14px;
    margin-top: 34px;
    font-size: 23px;
    font-weight: 500;
}



/******* homepage end  ******/
.product-thumbnail{
    height: 90px;
    width: 90px;
}
.wishlist-container{
    margin-top: 50px;
}

.cat_product_area .btn_2 {
    border: 1px solid #606060;
    color: #606060;
    margin-top: 80px;
  }

  .cat_product_area .latest_product_inner {
    padding-top: 30px;
  }

  .cat_product_area .latest_product_inner .single-product {
    margin-bottom: 50px;
  }
  .section_padding {
    padding: 10px 0px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 25, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_common.scss */
    .section_padding {
      padding: 0px 0px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 25, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_common.scss */
    .section_padding {
      padding: 10px 0px;
    }
  }
  @media (max-width: 576px) {
    /* line 25, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_common.scss */
    .section_padding {
      padding: 10px 0px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 25, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_common.scss */
    .section_padding {
      padding: 10px 0px;
    }
  }

  .border_top {
    border-top: 1px solid #eee;
    max-width: 1110px;
    margin: 0 auto;
  }

  .single_category_product {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
  }
  
  /* line 119, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
  .single_category_product img {
    width: 100%;
  }
  
  /* line 122, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
  .single_category_product .category_social_icon {
    position: absolute;
    right: -30px;
    bottom: 100px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .single_category_product .category_social_icon a {
    width: 50px;
    height: 50px;
    display: inherit;
    background-color: #2f7dfc;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    margin-top: 5px;
  }
  /* line 144, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
.single_category_product:hover .category_social_icon {
    position: absolute;
    right: 11px;
    bottom: 100px;
    visibility: visible;
    opacity: 1;
  }
  
  /* line 152, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
  .single_category_product .category_product_text {
    text-align: center;
    margin-top: 23px;
  }
  
  /* line 155, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
  .single_category_product .category_product_text h5 {
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
  }
  
  /* line 160, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product_list.scss */
  .single_category_product .category_product_text p {
    font-size: 18px;
    font-weight: 600;
    color: red;
  }




/******************** search results page *************/

.search-for{
    color: #ff6a00;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

/********************* about  page **********/
.about-title{
    font-size: 20px;
    color: #20165d !important;
  }
  
/********** checkout related pages  ************/

.confirm-momopay{
    font-weight: 600;

}

.enter-momo-number{
    padding: 50px 0px 10px 0px;
    font-weight: 600;
    color: #ff6a00;
}
.payment-title{
    margin-bottom: 15px;
}

.payment-title small{
    font-size: 100%;
    color: darkblue;
    text-decoration: underline;
} 
.btn-trans{
    margin-top: 15px;
    background: #20165d !important;
    color: #fff;
    padding: 6px;
}

/*************** password reset  css **************/
.btn-reset{
    margin-top: 15px;
    background: #20165d !important;
    padding: 6px;
}

/*************** password change page css **************/

.pwd-change-done{
    margin-top: 73px;
}
/********** user wishlist page css ****/
.wishlist-btn{
    background-color: #ff6a00;
    color: #fff;
    border: none;
}


/********** checkout page css ****/
.momo-details{
    font-weight: 700;
}

#form #form-button{
    background-color: #ff6a00;
    padding: 8px;
    color: #fff;
    border-radius: 17px;
    border: none;
}
#send_transactionID{
    margin-top: 15px;
    padding: 8px;
    background-color: #ff6a00;
    border: none;
    color: white;
    border-radius: 17px;
}
#bill-detail{
    margin-bottom: 28px;
    font-size: 23px;
    font-weight: 500;
}
.payment-buttons{
    width: 93px;
    height: 26px;
}
.payment-button-momo{
    background: #cac417f7;
}

/****** dashboard product page css ******/
.dash-container{

    padding: 19px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dash-account-info{

    margin-top: 43px;
}

.dashb-accountinfo-btn{
    background: #ff6a00;
    padding: 8px;
    font-size: 12px;
    border: none;
    width: 90px;
}

.dashb-accountinfo-btn:hover{
    background: #ff6a00;
}
.dashb-accountinfo-btn:active{
    background: #ff6a00;
}

.list-group{
    margin-top: 81px !important;
}
.cart-number{
    float: right;
    background: #f12222;
    border-radius: 50%;
    color: white;
    padding: 4px;
}
.wishlist-number{
    float: right;
    background: #20165d;
    border-radius: 50%;
    color: white;
    padding: 4px;
}
.dash-table{
    margin-top: 43px;
}
.cart-image{
    width: 50px;
    height: 50px;
}
.dash-totals{
    color: red;
}
form .helptext{
    display: none;
}
.dashb-change-btn{

    background: #ff6a00;
    padding: 8px;
    font-size: 12px;
    border: none;
    width: 142px;
}
.dashb-change-btn:hover{
    background: #ff6a00;   
}
.dashb-update-btn{

    background: #ff6a00;
    padding: 8px;
    font-size: 12px;
    border: none;
    width: 142px;
    float: right;
    margin-top: 31px;
}
.dashb-update-btn:hover{
    background: #ff6a00;   
}
/****** search results product page css ******/

.result-title{
    padding: 20px;
    font-size: 18px;
    color: #323275;
}


/****** product details page css ******/

.product-color{
    display: inline-flex;
}
.product-color .color{
    margin-left: 2px;
}
/****** contact page css ******/
.content {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .typedtext {
    margin-top: 20%;
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    margin-bottom: 55px;
    color: #000;
    display: block;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: black;
    }
    to {
      border-right-color: transparent;
    }
  }

  
/*** contact form ****/
.contact {
    padding: 40px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff6a00;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #ff6a00;
    color: #ffffff;
}

.contact button.btn:hover{
    background-color:#7c3b0c;
}
.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content2 .info {
    margin-top: 5px;
}
.contact .content2 .info i {
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content2 .info2 i {
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content2 .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content2 .info2 h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content2 .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}

.contact .content2 .info2 h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
/****** cart page **********/
.grand-total{
    color: red;
}
/****** homepage css ******/

/** footer icons **/

a, a:hover {
	text-decoration: none;
}

 .socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0 10px;
  padding: 10px;
} 

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 50px;
    height: 50px;
	color: #000;
	background-color: #FFF;
	padding-top: 18px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
    
}
.socialbtns .fa-facebook:hover {
    background: #3b5998;
    color: white;
  }

.socialbtns .fa-twitter:hover {
    background: #1da1f2;
    color: white;
  }
.socialbtns .fa-google-plus:hover {
    background: #d34836;
    color: white;
  }
.socialbtns .fa-pinterest:hover {
    background: #E60023;
    color: white;
  }
.socialbtns .fa-linkedin:hover {
    background: #0e76a8;
    color: white;
  }
.socialbtns .fa-instagram:hover {
    background:linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color:white;
}

.socialbtns .fa-youtube:hover {
    background: #c4302b;
    color: white;
  }


/**** other css ****/
.banners{
    padding: 20px;
    height: 200px;
    margin: 10px;
}
.quantity{
    display: inline-grid;
    font-weight: 700;
    padding-right: 10px;
    font-size: 17px;
}
.chg-quantity{
    cursor: pointer;
    margin-bottom: 2px;
    transition: .1s;
}
.cart-totals{
    font-size: 20px;
}
.row-image{
    width: 100px;
}
.alert-solid{
    position: absolute;
    right: 0;
    top: 144px;
    width: 328px;
    z-index: 11;
}
.alert-solid.show::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: greenyellow;
    width: 100%;
    box-sizing: border-box;
    z-index: 11;
    animation: hideMeter 7s linear;
}
@keyframes hideMeter{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
.alert-solid.show{
    animation: showAlert 1s ease forwards;
}
@keyframes showAlert{
    0%{
        transform: translate(100%);
    }
    40%{
        transform: translate(-15%);
    }
    80%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-10px);
    }
}

.alert-solid.hide{
    animation: hideAlert 1s ease forwards;
}
@keyframes hideAlert{
    0%{
        transform: translate(-10px);
    }
    40%{
        transform: translate(0%);
    }
    80%{
        transform: translate(-15%);

    }
    100%{
        transform: translate(100%);

    }
} 