<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kigali Mall">
    <meta name="keywords" content="Kigali online shop,online market,phones,phone, online rwanda,online kigali,products,shoes,womens fashions,dress,kids, kids fashions,mens fashions,e-commerce Rwanda,e-commerce Kigali,ecommerce Rwanda,ecommerce kigali,cosmetics,accessories,jordan shoes, shoping, online shopping, kigali, mall,laptops">
	<meta name="author" content="Yves">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block title %}Kigali-Mall {% endblock %}</title>

	<link rel="icon" href="{% static 'img/small-logo.png' %}" type="image/png"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

	<!--- share buttons --->
	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f46b1b64a7ca100122728f6&product=undefined' async='async'></script>
<!-- Start of HubSpot Embed Code --> <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8348777.js"></script> <!-- End of HubSpot Embed Code -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css"' %} type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">

	<script type="text/javascript">
		var user = '{{request.user}}'
	
		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
	
		function getCookie(name) {
			// Split cookie string and get all individual name=value pairs in an array
			var cookieArr = document.cookie.split(";");
	
			// Loop through the array elements
			for(var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
	
				/* Removing whitespace at the beginning of the cookie name
				and compare it with the given string */
				if(name == cookiePair[0].trim()) {
					// Decode the cookie value and return
					return decodeURIComponent(cookiePair[1]);
				}
			}
	
			// Return null if not found
			return null;
		}
		var cart = JSON.parse(getCookie('cart'))
	
		if (cart == undefined){
		  cart = {}
		  document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
	  

		function getCookieWishlist(name) {
			// Split cookie string and get all individual name=value pairs in an array
			var cookieArr = document.cookie.split(";");
	
			// Loop through the array elements
			for(var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
	
				/* Removing whitespace at the beginning of the cookie name
				and compare it with the given string */
				if(name == cookiePair[0].trim()) {
					// Decode the cookie value and return
					return decodeURIComponent(cookiePair[1]);
				}
			}
	
			// Return null if not found
			return null;
		}

		var wishlist = JSON.parse(getCookieWishlist('wishlist'))
	
		if (wishlist == undefined){
		wishlist = {}
		document.cookie ='wishlist=' + JSON.stringify(wishlist) + ";domain=;path=/"
		}
	
	</script>
</head>

<body>

{% include 'includes/header.html' %}

<div class="main-container">
	{% block content %}

	{% endblock %}
</div>

{% include 'includes/footer.html' %}


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wishlist.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wishlist2.js' %}"></script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8348777.js"></script>
<!-- End of HubSpot Embed Code -->
</body>

</html>