{% extends "base.html" %}


{% block content %}


<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <div class="info-form">
          <h3 class="text-center sign-welcm">You order is being processed !</h3>
          <p class="text-center sign-continue">Continue and pay using Mobile Money.</p>
          
  
          <form method="POST" >
              {% csrf_token %}
              <p>Enter you Phone Number:</p>
              {{form.transaction_id}}
              <button  class="btn-block btn-trans" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
