{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="result-title">Results for : {{query1}}</h2>
        </div>
    </div>
        <div class="row">
            {% if search_results %}
            {% for product in search_results %}
            <div class="col-lg-4 col-md-6  column {{product.sub_category}}" id="{{product.sub_category}}">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{product.main_image.url}}">
                        <ul class="product__hover">
                            <li><a href="{% url 'product_details' product.slug %}"  title="view details"><span class="arrow_expand"></span></a></li>
                            <li class="update-wishlist" data-product="{{product.id}}" data-action="add" title="add to wishlists"><a><span class="icon_heart_alt"></span></a></li>
                            <li data-product='{{product.id}}' data-action='add' class="update-cart" title="add to carts"><a><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{% url 'product_details' product.slug %}">{{product.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">{{product.price}} Frw</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            {% else %}
                <h2 class="result-title text-center">No products found</h2>
            {% endif %}
    </div>
</div>
{% endblock %}