{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans 'Shop - Kigali Mall' %}{% endblock %}
{% load static %}

{% block content %}
<style>

    .column {
    
      display: none; /* Hide columns by default */
    }
    .show {
      display: block;
    }
</style>

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'homepage' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive" onclick="filterSelection('all')"> All</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading active">
                                        <a data-toggle="collapse" data-target="#collapseOne" onclick="filterSelection('WomensFashions')">Women</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo" onclick="filterSelection('MensFashions')">Men</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree" onclick="filterSelection('KidsFashions')">Kids</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour" onclick="filterSelection('Accessories')">Accessories</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive" onclick="filterSelection('Cosmetics')">Cosmetic</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">

                    {% for product in  products %}

                        <!--for large screen-->
                        <div class="col-lg-3 col-md-4 col-sm-6 d-none d-md-block d-lg-block d-xl-block mix column {{product.category}}" id="{{product.category}}">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{product.main_image.url}}">
                                <ul class="product__hover">
                                        <li><a href="{% url 'product_details' product.slug %}"  title="view details"><span class="fa fa-eye"></span></a></li>
                                        <li class="update-wishlist" data-product="{{product.id}}" data-action="add"><a href="" title="add to wishlists"><span class="icon_heart_alt"></span></a></li>
                                        <li data-product='{{product.id}}' data-action='add' class="update-cart"><a title="add to carts"><span class="fa fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'product_details' product.slug %}">{{product.name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">{{product.price|intcomma}} Frw <span>{{product.old_price|intcomma}} Frw</span></div>
                                </div>

                            </div>
                        </div>

                    <!--for small screen-->
                    <div class="col-lg-3 col-6 col-md-4  d-block d-md-none d-lg-none d-xl-none mix column {{product.category}}" id="{{product.category}}">
                        <div class="product__item sale">
                            <a href="{% url 'product_details' product.slug %}"  title="view details">
                            <div class="card set-bg">
                                <div class="card-imge">
                                    <img src="{{product.main_image.url}}" alt="{{product.name}}">
                                </div>
                            </div>
                            </a>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_details' product.slug %}">{{product.name}}</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{product.price|intcomma}} Frw <span>{{product.old_price|intcomma}} Frw</span></div>
                            </div>

                        </div>
                    </div> 
                    {% endfor %}
  
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

  
    filterSelection("all") // Execute the function and show all columns
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("column");
      if (c == "all") c = "";
      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
    // Show filtered elements
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }
    
    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>
{% endblock %}