{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans 'Shop - Kigali Mall' %}{% endblock %}
{% load static %}

{% block content %}
<style>
    .st-cmp-settings{
        display: none;
    }
    .card-head{
        background: #36a300; 	
        font-size: 12px;
        color: #ffffff;
        font-weight: 500;
        display: inline-block;
        padding: 2px 8px;
        text-transform: uppercase;
        position: absolute;
        left: 10px;
        top: 10px;
                      
    }
</style>


{% include "store/shop/accessories.html" %}


{% include "store/shop/men.html" %}


{% include "store/shop/women.html" %}


{% include "store/shop/kids.html" %}


<!-- {% include "store/shop/cosmetics.html" %} -->


{% endblock %}