{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Smartphones' %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="result-title">{% trans 'Smartphones' %}</h2>
        </div>
    </div>
</div>
<section class="cat_product_area section_padding border_top">
    <div class="container">
<div class="row">
    {% for product in smartphones %}
    <div class="col-lg-3 col-sm-6">
        <div class="single_category_product">
            <div class="single_category_img">
                <img src="{{product.main_image.url}}" alt="">
                <div class="category_social_icon">
                    <ul>
                        <li><a href="#" type="button" class="update-wishlist" data-product="{{product.id}}" data-action="add" ><i class="fa fa-heart" title="add to wishlist"></i></a></li>
                        <li><a href="{% url 'product_details' product.slug %}"><i class="fa fa-eye" title="view details"></i></a></li>
                        <li><a href="#" data-product='{{product.id}}' data-action='add' type="button" class="update-cart"><i class="fa fa-shopping-cart" title="add to cart"></i></a></li>

                    </ul>
                </div>
                <div class="category_product_text">
                    <a href="{% url 'product_details' product.slug %}"><h5>{{product.name}}</h5></a>
                    <p>{{product.price}} Frw</p>
                </div>
            </div>
        </div>
    </div> 
{% endfor %}
</div>
</div>
</section>
{% endblock %}

