{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Wishlist' %}{% endblock %}
{% block content %}
<style>
  span{
    font-size: 12px;
  }
  img{
    width: 20%;
  }
</style>
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="{% url 'homepage' %}"><i class="fa fa-home"></i> Home</a>
                  <span>Wishlist</span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container" style="padding: 5%;">
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><span>{% trans 'Image' %}</span></th>
            <th><span>{% trans 'Name' %}</span></th>
            <th><span>{% trans 'Price Unit' %}</span></th>
            <th><span>{% trans 'Action' %}</span></th>
          </tr>
        </thead>
        <tbody>
            {% for item in wishlists %}
                <tr>
                    <td><img src="{{item.product.main_image.url}}"/></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price}} Frw</td>
                    <td>
                        <button data-product={{item.product.id}} data-action='add' class="wishlist-btn update-cart">{% trans 'add to cart' %}</button>
                        {% if request.user.is_authenticated %}
                        <button data-product={{item.product.id}} data-action='add' class="wishlist-btn destroy-wishlist">{% trans 'remove' %}</button>
                        {% endif %} 
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center font-italic" colspan="4">{% trans "You don't have products in your wishlist!!!!!" %}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
