{% extends 'users/account_base.html' %}
{% load i18n %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container dash-container">
    <div class="row">
        <div class="col-md-3">
            {% include "users/dashboard_sidebar.html" %}
        </div>
        <div class="col-md-9">
            <h3 class="text-center">{% trans 'Change Password' %}</h3>
        
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row dash-account-info">
                        <div class="form-group col-md-12">
                            <label for="name">{% trans 'Current Password' %}</label>
                            {{form.old_password}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">{% trans 'New Password' %}</label>
                            {{form.new_password1}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">{% trans 'Confirm New Password' %}</label>
                            {{form.new_password2}}
                        </div>
                    </div>
                        <button type="submit" class="btn btn-lg btn-info dashb-change-btn">{% trans 'Change password' %}</button>
                   
                </form>

        </div>
    </div>
</div>

<script>
    oldPassword = document.getElementById('id_old_password');
    newPassword1 = document.getElementById('id_new_password1');
    newPassword2 = document.getElementById('id_new_password2');


    oldPassword.classList.add('form-control');
    newPassword1.classList.add('form-control');
    newPassword2.classList.add('form-control');


</script>
{% endblock %}