{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% url 'dashboard' as dashboard_url %}
{% url 'user_cart' as user_cart_url %}
{% url 'user_wishlist' as user_wishlist_url %}
{% url 'user_change_password' as password_change_url %}
<style>
    li{list-style-type: none;color: rgb(29, 28, 28);padding-left: 4%;}
    ul{margin-top: 2%;margin-bottom: 2%;}
    h4{font-weight: 500;}
    .current{text-decoration-line: underline;color: #D10024;}
    li:hover{color: #D10024;}
    .btn{width: 100%;background-color: #20165d;color: white;}
    .btn:hover{background-color: #423788;color: white;}
    .col-md-4{background-color:  #f8f8f8;border: 1px solid  #f6f5fa;}
  </style>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'homepage' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Dashboard</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container dash-container"  style="padding: 5%;">
        {% for message in messages %}
        <div class="overdue container register-notification">
           
                <div class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                </div>
          </div>
          {% endfor %}
        <div class="row">
            <div class="col-md-4"  style="padding-top: 5%;">
                <h4>Manage My Account</h4>
                <ul class="dash-list">
                    <a href="{{dashboard_url}}"><li class="current {% if request.path == dashboard_url %} active {% endif %}">{% trans 'Account' %}</li></a>
                    <a href="{{user_cart_url}}"><li class=" {% if request.path == user_cart_url %} active {% endif %}">{% trans 'Cart' %} <span class="cart-number">{{cartItems}}</span></li></a>
                    <a href="{{user_wishlist_url}}"><li class=" {% if request.path == user_wishlist_url %} active {% endif %}">{% trans 'Wishlist' %} <span class="wishlist-number">{{wishlists_counts}}</span></li></a> 
                    <a href="{{password_change_url}}"><li class=" {% if request.path == password_change_url %} active {% endif %}">{% trans 'Change Password' %}</li></a>
                    <a href="{% url 'logout' %}"><li class="">{% trans 'Logout' %}</li></a> 
                  </ul>
            
            </div>
            <div class="col-md-8">
                <h3 class="text-center">{% trans 'Account Information' %}</h3>
                <form>
                    <div class="form-row dash-account-info">
                        <div class="form-group col-md-6">
                            <label for="name">{% trans 'Name' %}</label>
                            <input type="text" class="form-control" id="myName" value="{{user.name}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">{% trans 'Email' %}</label>
                            <input type="email" class="form-control" id="myEmail" value="{{user.email}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dateofbirth">{% trans 'Gender' %}</label>
                            <input type="text" class="form-control" id="myGender" value="{{user.gender}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">{% trans 'Phone' %}</label>
                            <input type="text" class="form-control" id="myPhone" value="{{user.phone}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="city">{% trans 'City' %}</label>
                            <input type="text" class="form-control" id="myCity" value="{{user.city}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="country">{% trans 'Country' %}</label>
                            <input type="text" class="form-control" id="myCountry" value="{{user.country.name}}">
                        </div>
                    </div>
                  </form>
                    <div class="text-center mt-2">
                        <a href="{% url 'update_profile' %}"> <button class="btn">{% trans 'Update' %}</button> </a>
                    </div>
            </div>
        </div>
    </div>


    <script>
         document.getElementById("myCountry").disabled = true;
         document.getElementById("myCity").disabled = true;
         document.getElementById("myPhone").disabled = true;
         document.getElementById("myGender").disabled = true;
         document.getElementById("myEmail").disabled = true;
         document.getElementById("myName").disabled = true;


    </script>
{% endblock  %}
    
    