{% extends 'base.html' %}
{% load i18n %}
{% block content %}



<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="{% url 'homepage' %}"><i class="fa fa-home"></i> Home</a>
                  <a href="{{dashboard_url}}">Dashboard</a>
                  <span>Wishlist</span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container dash-container"  style="padding: 5%;">
    <div class="row">
        <div class="col-md-4"  style="padding-top: 5%;">
          {% include "users/dashboard_sidebar.html" %}
        </div>
        <div class="col-md-8">
            <h3 class="text-center">{% trans 'Wishlist' %}</h3>
            <table class="table dash-table">
                <thead>
                  <tr>
                    <th scope="col">{% trans 'Image' %}</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Price Unit' %}</th>
                    <th scope="col" style="float: right;">{% trans 'Actions' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in wishlists %}
                    <tr>
                      <th scope="row"><img class="cart-image" src="{{item.product.main_image.url}}"/></th>
                      <td>{{item.product.name}}</td>
                      <td>{{item.product.price}} Frw</td>
                      <td style="float: right;">
                        <button data-product={{item.product.id}} data-action='add' class="wishlist-btn update-cart">add to cart</button>
                        <button data-product={{item.product.id}} data-action='add' class="wishlist-btn destroy-wishlist">remove</button>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center font-italic" colspan="4">{% trans "You don't have any Product in your wishlist!" %}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}