{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% url 'dashboard' as dashboard_url %}
{% url 'user_cart' as user_cart_url %}
{% url 'user_wishlist' as user_wishlist_url %}
{% url 'user_change_password' as password_change_url %}
<style>
    li{list-style-type: none;color: rgb(29, 28, 28);padding-left: 4%;}
    ul{margin-top: 2%;margin-bottom: 2%;}
    h4{font-weight: 500;}
    .current{background-color: #f3a9b5;color:gray}
    .dash-list li:hover{background-color: #f5c5cd; color: gray}
    .col-md-4{background-color:  #f8f8f8;border: 1px solid  #f6f5fa;}
    .dash-list li{padding: 3%;}
  </style>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'homepage' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{{dashboard_url}}">Dashboard</a>
                    <span>Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container dash-container"  style="padding: 5%;">
    <div class="row">
        <div class="col-md-4"  style="padding-top: 5%;">
            <h4>Manage My Account</h4>
            <ul class="dash-list">
                <a href="{{dashboard_url}}"><li class=" {% if request.path == dashboard_url %} active {% endif %}">{% trans 'Account' %}</li></a>
                <a href="{{user_cart_url}}"><li class=" current{% if request.path == user_cart_url %} active {% endif %}">{% trans 'Cart' %} <span class="cart-number">{{cartItems}}</span></li></a>
                <a href="{{user_wishlist_url}}"><li class=" {% if request.path == user_wishlist_url %} active {% endif %}">{% trans 'Wishlist' %} <span class="wishlist-number">{{wishlists_counts}}</span></li></a> 
                <a href="{{password_change_url}}"><li class=" {% if request.path == password_change_url %} active {% endif %}">{% trans 'Change Password' %}</li></a>
                <a href="{% url 'logout' %}"><li class="">{% trans 'Logout' %}</li></a> 
              </ul>
        </div>
        <div class="col-md-8">
            <h3 class="text-center">{% trans 'Cart' %}</h3>
            <div class="table-responsive">
                <table class="table dash-table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Image' %}</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Quantity' %}</th>
                        <th scope="col">{% trans 'Price Unit' %}</th>
                        <th scope="col">{% trans 'S.Total' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <th scope="row"><img class="cart-image" src="{{item.product.main_image.url}}"/></th>
                                <td>{{item.product.name}}</td>
                                <td>{{item.quantity}}
                                    <div class="quantity">
                                        <i data-product='{{item.product.id}}' data-action='add' class="fa fa-plus-square-o chg-quantity update-cart" aria-hidden="true"></i>
                                        <i data-product='{{item.product.id}}' data-action='remove' class="fa fa-minus-square-o chg-quantity update-cart" aria-hidden="true"></i>                                                          
                                    </div>
                                </td>
                                <td>{{item.product.price}} Frw</td>
                                <td>{{item.get_total}} Frw</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center font-italic" colspan="4">{% trans "You don't have any Product in your cart!" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="float: left;">{% trans 'Total Items' %}: <span class="dash-totals">{{order.get_cart_items}}</span></th>
                    <th scope="col" style="float: right;">{% trans 'Total' %}: <span class="dash-totals">$ {{order.get_cart_total}}</span></th>
                  </tr>
                  <tr>
                    <th scope="col" style="float: right;"><a  style="padding:6px" class="btn btn-success" href="{% url 'checkout' %}"><i style="font-size: 22px;" class="fa fa-money" aria-hidden="true"></i> Checkout</a></th>
                  </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}










