{% extends 'users/account_base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  
<div class="container dash-container">
    <div class="row">
        <div class="col-md-3">
            {% include "users/dashboard_sidebar.html" %}
        </div>
        <div class="col-md-9">
            <h3 class="text-center">{% trans 'Cart' %}</h3>
            <div class="table-responsive">
                <table class="table dash-table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Image' %}</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Quantity' %}</th>
                        <th scope="col">{% trans 'Price Unit' %}</th>
                        <th scope="col">{% trans 'S.Total' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <th scope="row"><img class="cart-image" src="{{item.product.main_image.url}}"/></th>
                                <td>{{item.product.name}}</td>
                                <td>{{item.quantity}}
                                    <div class="quantity">
                                        <i data-product='{{item.product.id}}' data-action='add' class="fa fa-plus-square-o chg-quantity update-cart" aria-hidden="true"></i>
                                        <i data-product='{{item.product.id}}' data-action='remove' class="fa fa-minus-square-o chg-quantity update-cart" aria-hidden="true"></i>                                                          
                                    </div>
                                </td>
                                <td>{{item.product.price}} Frw</td>
                                <td>{{item.get_total}} Frw</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center font-italic" colspan="4">{% trans "You don't have any Product in your cart!" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="float: left;">{% trans 'Total Items' %}: <span class="dash-totals">{{order.get_cart_items}}</span></th>
                    <th scope="col" style="float: right;">{% trans 'Total' %}: <span class="dash-totals">$ {{order.get_cart_total}}</span></th>
                  </tr>
                  <tr>
                    <th scope="col" style="float: right;"><a  style="padding:6px" class="btn btn-success" href="{% url 'checkout' %}"><i style="font-size: 22px;" class="fa fa-money" aria-hidden="true"></i> Checkout</a></th>
                  </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}










